LOG_HOME_IS_UNDEFINED/
Server*/
.gradle/
.groovy/
.metadata/
.settings/
.classpath
.project
bin/
target/
classes/
LICENSE.txt
.springBeans
*~
~*
*.swp
*.swo
*.pyc
*.iml
*.eml
rebel.xml
.idea/
MANIFEST.MF
out/test/*
out/production/*
out/artifacts/*
resources-etermconf/
tags
.~lock.*
*.ipr
*.iws
checkstyle/
.pydevproject
bin-groovy
.DS_Store
ip
test-output
.cache
node_modules/
.idea/
.jshintrc
*.o
build/
gradle.properties
127.0.0.1/
/tz-data/tops-test3/tops-member-server/192.168.163.131/properties/member-instance-server.properties
/tz-data/tops-test3/tops-front-operator-biz/properties/web-env.properties
/tz-data/tops-test3/tops-front-provider/properties/web-env.properties
/tz-data/tops-test3/tops-front-purchaser/properties/web-env.properties
/tz-data/tops-test/tops-front-messaging/properties/web-env.properties
/tz-data/tops-test3/tops-front-messaging/properties/web-env.properties
tz-data/tops-test/tops-front-operator-member/properties/web-env.properties
tz-data/tops-test3/tops-front-operator-member/properties/web-env.properties
/tops-front/tops-front-operator-biz/src/main/resources/logback.groovy
/tops-front/tops-front-purchaser/src/main/resources/platform-notused
/tops-front-operator-biz.settings.gradle
*tracelogs/
*/version
/tz-data/tops-*/global
/tz-data/tops-*/global/
.recommenders/

#cat忽略文件
/tz-cat/cat-master/cat-client/src/main/resources/com/dianping/cat/configuration/client/config.xsd
/tz-cat/cat-master/cat-client/src/main/resources/com/dianping/cat/status/model/status.xsd
